/*The head of the the web page*/
.head {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    justify-content: center;
    border-bottom: black 4px solid;

}

/*The web page header*/
h1 {
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    font-size: 3em;
}

/*The container for the info button*/
#head_cnt, #head_cnt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*Makes button transparent when hovering*/
.btn_h:hover {
    opacity: .5;
    background-color: rgba(159, 158, 160, 0.8);
    border: black 3px solid;
}

/*The header button*/
.btn_h {
    background-color: cadetblue;
    outline: none;
    border:none;
    flex-grow: 1;
    height: 100%;
    width: 4em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

